.post-page-right-div{
    margin-top: 40px;
    margin-left: 20px;
}

.post-page-content{
    display: flex;
    flex-direction: row;
}

.posting-rules-container{
    background-color: white;
    border-radius: 5px;
    padding: 15px 10px;
}

.posting-rules-header{
    display: flex;
    flex-direction: row;
}

.posting-rules-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    background-color: #0079D3;
    border-radius: 100%;
}

.posting-rules-icon > img{
    height: 50px;
}

.posting-rules-header-span{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 5px;
    font-size: 18px;
    color: #6C6868;
}

.posting-rule{
    padding: 10px 0px;
    font-size: 14px;
    color: #6c6868;
    border-bottom: .5px solid rgba(128, 128, 128, 0.286);
}

.post-page-header > h1 {
    font-size: 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.575);
}


.post-page-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
