.single-post-page-body{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    padding: 0 15% 50px;

    background-color: rgb(82, 82, 82);
}

.single-post-page-content{
    display: grid;
    grid-template-columns: 5fr 2fr;
    justify-items: end;
    background-color: rgb(167, 167, 167);
}

.left-main-single-post-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    background-color: white;
}



.post-crud-button{
    width: 150px;
}

.comments-outer-container{
    display: flex;
    width: 800px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: white;
}

.comments-inner-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width:100%
}

.comment-outer-container{
    display: flex;
    flex-direction: column;
}

.right-main-single-post-div{
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 350px;
}

.post-page-community-details-container{
    margin-top: 50px;
}

.create-comment-form-outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:800px;
}

.create-comment-form-inner-container{
    padding-left: ;
    width: 80%;
    border: .5px grey solid;
    border-radius: 5px;
}

.create-comment-form-container:hover{
    box-shadow: 0px 0px 3px black;
}

.comment-form{

}

.comment-form:focus{
    box-shadow: 10px 5px 5px black;
}
.create-comment-text{
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 15px;
    resize: vertical;
    border: none;
    width:100%;
    height: 100px;
}

.create-comment-text:focus{
    outline: none;
}

.create-comment-button-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 35px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(222, 222, 222, 0.596);
}

.create-comment-button{
    width: 80px;
    height: 25px;
    margin-right: 10px;
    background-color: #0079D3;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    transition: background-color;
}

.create-comment-button:hover{
    background-color: #0078d3d5;

}

.focus{
    box-shadow: 10px 5px 5px black;
}



#single-post{
    width:800px;
    border: none;
}

#hidden{
    display: none
  }
