.project-info-container{
    margin-top: 20px;
    width: 325px;
    position: sticky;
    top: 10px;
    background-color: white;
}

.about-me{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-me:hover{
    background-color: #6c686876;
}

.git-hub-span{
    font-size: 25px;
    color:#6C6868;
}

.code-languages-container{
    height: 270px;
    color:#6C6868;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border-bottom: .5px solid #6c68684e;
}

.code-lang{
    margin-left: 10px;
    margin-right: 10px;
}

.fa-brands{
    font-size: 25px;
    color: #6C6868;
    margin-right: 10px;
}
