/* .hidden {
    display: none
}

.profile-dropdown {
    position: absolute;
    margin-top: 10px;
}

.dropdown-menu {
    align-items: center;
    align-content: flex-end;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.25rem;
    height: auto;
    list-style: none;
    padding: 0.75rem;
    position: absolute;
    right: 50%;
    top: calc(100% + 0.25rem);
}


.profile-button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: hidden;
    background-color: transparent;
}

.login-modal{
    height:425px;
    width: 450px;
    z-index: 50;
}

.create-community-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(128, 128, 128, 0.141);
    padding-bottom:10px ;
}

.create-community-modal-header > h2 {
    font-size: 16px;
    margin: 3px;
    font-weight: 400;
}

.login-form-header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.community-form-header > h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 3px
}

.community-form-header > span {
    color: grey;
}

.create-community-form{
    display: flex;
    flex-direction: column;
}

.create-community-form > input{
    height:30px;
}

.create-community-form > span {
    color: grey;
    font-size: 10px;
}

.create-form-child{
    border: solid rgba(128, 128, 128, 0.303) .5px;
    border-radius: 3px;
}

.margin-t-10{
    margin-top: 10px;
}

.create-community-form >textarea{
    height:60px
}

.fa-x {
    cursor: pointer;
} */
