.user-nav{
display: flex;
flex-direction: row;
align-items: center;
background-color: white;
height: 35px;
padding-top: 1px;
}

.user-nav-buttons > button{
    background-color: white;
    height:35px;
    border:none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.649);
}

.community-cards-container{
    margin-left: 10px;
}

.community-info-container{
    display: flex;
    flex-direction: row;
}

.community-card-link{
    text-decoration: none;
    color: inherit

}

.community-card-container{
    background-color: white;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 18fr;
    border: .4px solid rgba(128, 128, 128, .5);
    border-radius: 4px;
    height: 30px;
    width: 225px;
    transition: border;
}

.community-card-container:hover{
    border: 1px solid rgba(128, 128, 128, 0.88);
}

.community-card-community-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    height: 20px;
}

.community-card-community-image-container > img{
    padding-top: 10px;
    height: 22px;
    border-radius: 100%;
    object-fit: contain;
}


.community-card-main{
    margin: 5px
}

.community-card-community-header{
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
}


.community-card-community-header-container{
    padding-top: 3px;
}

.user-info-ul {
    list-style: none;
}
